.waf-widget.waf-facedetection {
	background-color:gray;

}

.waf-widget.waf-facedetection canvas {
        -moz-transform: scale(-1, 1);
        -o-transform: scale(-1, 1);
        -webkit-transform: scale(-1, 1);
        filter: FlipH;
        transform: scale(-1, 1);
        height:100%;
    	width:100%;

}